<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drafts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
</head>
<body>
    
    <div class="black_nav">
        <nav class="inner_nav">
            <li><a href="../">Bloggit</a></li>
            <li class="burger" state="ham">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </li>
        </nav>
        <div class="main_black_nav">
                <li><a href="../">Home</a></li>
                <li><a href="#">Published</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
        </div>
    </div>
    <nav class="outer_nav">
        <li><a href="../">Bloggit</a></li>
        <li class="burger" state="ham">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </li>
    </nav>

    <div class="feed_container">
        <div class="feed">
            {% for feed in drafted_feeds %}
                {{feed}}
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $('document').ready(function(){
            $('.burger').click(function(){
                if($('.burger').attr("state") == "ham")
                {
                    $('.burger').attr("state","cross");
                    $('.black_nav').fadeIn()
                }
                else if($('.burger').attr("state") == "cross")
                {
                    $('.burger').attr("state","ham");
                    $('.black_nav').fadeOut()
                }
            })
            $('.black_nav').click(function(){
                $('.burger').attr("state","ham");
                $('.black_nav').fadeOut()
            })
        })
    </script>

    
</body>
</html>