<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0e20ce3410.js" crossorigin="anonymous"></script>
    <title>Drafts</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/feed.css' %}">
    <link rel="stylesheet" href="{% static 'styles/new_blog.css' %}">
</head>
<body>
    <div class="white_layer"></div>
    <div class="black_nav">
        <nav class="inner_nav">
            <li><a href="../">Bloggit</a></li>
            <li class="burger" state="ham">
                <div class="bar bar1"></div>
                <div class="bar bar2"></div>
                <div class="bar bar3"></div>
            </li>
        </nav>
        <div class="main_black_nav">
                <li><a href="../">Home</a></li>
                <li><a href="../drafts">Drafts</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/accounts/logout">Logout</a></li>
        </div>
    </div>
    <nav class="outer_nav">
        <li><a href="../">Bloggit</a></li>
        <li class="burger" state="ham">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </li>
    </nav>

    <div class="feed_container">
        
        {% for feed in published_feeds %}
            <div class="feed">
                <div class="feed_heading">
                    <h1>{{feed.heading}}</h1>
                </div>
                <div class="feed_content">
                    {% for block in feed.block_set.all %}
                        <h4>{{block.title}}</h4>
                        <p>{{block.content}}</p>
                        <br>
                    {% endfor %}
                </div>
                <div class="feed_footer">
                    <div class="post_author">
                        <h3>{{feed.user.first_name}} {{feed.user.last_name}}</h3>
                    </div>
                    <div class="btn-container">
                        <a class="button" href="../unpublish/{{feed.id}}">
                            <i class="fa fa-undo"></i> UnPublish
                        </a>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>

    <div class="floating_btn_container">
        <a class="button round add_btn" state="plus">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'scripts/nav.js' %}"></script>
    <script src="{% static 'scripts/new_blog.js' %}"></script>
    
</body>
</html>