{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.first_name}} {{request.user.last_name}}</title>
    <script src="https://kit.fontawesome.com/0e20ce3410.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/feed.css' %}">
</head>
<body>
    
    <div class="black_nav">
        <div class="main_black_nav">
            <li><a href="/drafts">Drafts</a></li>
            <li><a href="/published">Published</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
        </div>
    </div>
    <nav class="outer_nav">
        <li><a href="#">Bloggit</a></li>
        <li class="burger" state="ham">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </li>
    </nav>

    <div class="feed_container">
        
    {% for feed in feeds %}
        <div class="feed">
            <div class="feed_main">
                <div class="feed_heading">
                    <h1>{{feed.heading}}</h1>
                </div>
                <div class="feed_content">
                    {% for block in feed.block_set.all %}
                        <h4>{{block.title}}</h4>
                        <p>{{block.content}}</p>
                        <br>
                    {% endfor %}
                </div>
                <div class="feed_footer">
                    <div class="post_author_name" style="display: flex;justify-content: center; align-items: center;">
                        <h3>{{feed.user.first_name}} {{feed.user.last_name}}</h3>
                    </div>
                    <a class="button">
                        <i class="far fa-eye"></i> View Blog
                    </a>
                </div>
            </div>
            <img src="{% static feed.cover_img.url %}" height="300" alt="Blog Image" class="feed_img">
        </div>
    {% endfor %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'scripts/nav.js' %}">
    </script>

</body>
</html>