{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{request.user.first_name}} {{request.user.last_name}}</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0e20ce3410.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/feed.css' %}">
</head>
<body>
    
    <div class="black_nav">
        <div class="main_black_nav">
            <li><a href="/drafts">Drafts</a></li>
            <li><a href="/published">Published</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
        </div>
    </div>
    <nav class="outer_nav">
        <li><a href="#">Bloggit</a></li>
        <li class="burger" state="ham">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </li>
    </nav>
    <div class="main">
        <div class="container-fluid">
            <h1>Home:</h1>
            <hr>
            <div class="row">
                {% for feed in feeds %}
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                    <div class="card feed" onclick="window.location.href='view/{{feed.id}}'">
                        <div class="row no-gutters">
                            <div class="col-md-3 col-sm-12 feed_img">
                                <img class="card-img-top" src="{{feed.cover_img.url}}" alt="Card image">
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <div class="card-body">
                                    <h1 class="card-title">{{feed.heading}}</h1>
                                    <h6 class="card-text">{{feed.user.first_name}} {{feed.user.last_name}} | {{feed.created_at.date}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'scripts/nav.js' %}"></script>
</body>
</html>