.feed{
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border: 0;
    cursor: pointer;
}
.feed_img{
    height: 20vh;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}   
.feed_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    font-size: 3vh;
}
 h4{
    font-size: 2vh;
}
 p{
    font-size: 1.5vh;
}
.main{
    padding: 15vh 5vw 5vh 5vw;
    min-height: 90vh;
}
.col-md-6{
    padding:1vh;
}
.feed:hover{
    background: white;
    padding: 0;
    transform: scale(1.05);
}
.feed_btns{
    display: none;
}
.feed:hover .feed_btns{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.feed_btns a{
    font-size: 3vh;
    padding: 5vh;
    transition: all 0.2s ease-in-out;
}
.feed_btns a:hover{
    font-size: 4vh;
}
.right{
    float: right;
}
.btn-green{
    background: #029e74;
    color: white;
    padding: 1vh 1.4vh;
    font-size: 2vh;
    text-align: center;
    text-decoration: none;
}
.btn-green:hover{
    background: #018663;
    color: white;
    text-decoration: none;
}